/env
/purbeurre_project/purbeurre_project/settings.py
/purbeurre_project/purbeurre_project/__pycache__/
/purbeurre_project/__pycache__/
/purbeurre_project/bestproduct/migrations/__pycache__/
__pycache__/
purbeurre_project/SUPP_db_alim.py
purbeurre_project/bestproduct/__pycache__/models.cpython-35.pyc
purbeurre_project/bestproduct/__pycache__/urls.cpython-35.pyc
purbeurre_project/bestproduct/__pycache__/views.cpython-35.pyc
Tests_manuels.docx